.navbar-brand{
    margin-left: 10%;
}
.navbar-nav{
    padding-left: 500px;
}
.nav-item{
    margin-right: 10px;
}
.navbar-toggler{
    background-color: blue;
    color: white;
    width: fit-content;
}
.nav-item,.navbar-nav,.nav-link,.navbar-brand{
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
}
a{
    text-decoration: none;
}
#b1{
    width: 100px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    background-color: #0067da;
    margin-left: 50px;
}
#b1:hover{
    background-color: red;
}
#contact{
    text-align: center;
    color: white;
    font-size: 42px;
    padding-top: 200px;
}
ol{
    list-style: none;
    text-align: center;
    font-size: 12px;
    color: white;
}
#li1{
    display: inline-block;
    padding-right: 1rem;
    color: white;
}
.first{
    height: 60vh;
    background-image: url(https://kayzer.netlify.app/img/bg-img/wavy-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:990px) {
    .navbar-brand{
        margin-left: 5%;
    }
    .navbar-toggler{
        margin-right: 5%;
    }
    .navbar-nav{
        padding-left: 70px;
        margin-top: 10px;
        border-top: 3px solid black;
    }
    .nav-item{
        margin-right: 0;
        margin-bottom: 10px;
    }
    #b1{
        margin-top: 20px;
        margin-left: 0;
    }
}

.div1{
    text-align: center;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
#tb1{
    margin-right: 30px;
}
#tb1,#tb2,#tb3,#tb4{
    margin-bottom: 30px;
}
#name,#email{
    width: 400px;
}
#subject,#message{
    width: 830px;
}
input,textarea{
    border: none;
    border-bottom: 1px solid black;
}
#b3{
    text-align: center;
    width: 160px;
    height: 48px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 100px;
    background-color: #0067da;
    margin-left: 45%;
}
.second{
    margin-top: 100px;
}
@media screen and (max-width:990px) {
    #name,#email,#subject,#message{
        width: 450px;
    }
    #tb1,#tb2,#tb3,#tb4{
        margin: 10px 5%;
    }
    .second{
        width: 100%;
    }
    #b3{
        margin-left: 40%;
    }
}

.div3{
    height: 200px;
    display: flex;
    justify-content: left;
    margin: 0 10%;
    background-color: blue;
}
#dd1{
    margin-left: 100px;
    margin-top: 50px;
}
#dd2{
    margin-left: 350px;
    margin-top: 70px;
}
#b2{
    width: 150px;
    height: 50px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 30px;
}
.div4{
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-top: 50px;
}
#dd3{
    width: 300px;
    height: 250px;
    margin-right: 50px;
}
i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    color: white;
    padding-top: 7px;
    background: rgb(0, 103, 218);
}
.third{
    margin-top: 100px;
    padding-top: 100px;
    background: url(https://kayzer.netlify.app/img/bg-img/bread-bg.jpg) center right;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:990px) {
    .div3{
        width: 94%;
        margin: 0 3%;
        flex-direction: column;
    }
    #dd1,#dd2{
        margin: 20px 0;
        padding-left: 20px;
    }
    .div4{
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
    }
    #dd3{
        margin-right: 70px;
    }
    .third{
        width: 100%;
    }
}